body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}
h1 {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}
img {
  display: block;
  text-align: center;
  margin: 0px auto;
  size: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px;
  padding-bottom: 20px;
}
h1,
p {
  text-align: center;
  size: 18px;
  margin 18px opx;

}
footer {
   display: block;
  text-align: center;
  margin: 0px auto;
}
.container {

  display: block;
  text-align: center;
  margin: 0px auto;

}

@media (min-width: 576px) {

  img {
    size: 100%;
  }
 }